body {
    background-color: #181818;
    display: flex;
    justify-content: flex-start; /* Alinea a la izquierda */
    align-items: center;
    min-height: 100vh;
    padding: 10px;
}

.logo {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 15%;
   
}
.logo img {
    width: 100%;
    height: 20%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 60vh;
    width: 100%;
    max-width: 300px; /* Reduce el tamaño del formulario */
    backdrop-filter: blur(10px);
    background-color: rgba(240, 248, 255, 0.171);
    border-radius: 20px;
    border: 2px solid white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    margin-left: 20px; /* Añade un margen para separarlo del borde */
}

input {
    font-size: 15px;
    padding: 10px;
    border-radius: 7px;
    border: 0px;
    background-color: grey;
    backdrop-filter: blur(10px);
    width: 100%;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 600px) {
    form {
        width: 80%; /* Aumenta el ancho en pantallas pequeñas */
    }

    .logo {
        max-width: 80px;
    }

    input {
        font-size: 14px;
        padding: 8px;
    }
}

button{
    padding: 10px;
    width: 105px;
}
.botones{
    display: flex;
    gap:20px
}
