nav {
    font-weight: 300;
    width: 70%; /* Asegúrate de que haya espacio a los lados */
    height: 8vh;
    background-color: #363636;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1% 0 3%;
    border-radius: 30px; /* Redondea los bordes */
    margin: 0px auto; /* Centra el header y deja espacio en la parte superior */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra opcional */
    position: fixed; /* Hace que el header esté fijo en la parte superior */
    top: 20px; /* Ajusta el margen superior para que no toque el borde superior */
    left: 50%; /* Centra el header */
    transform: translateX(-50%); /* Ajusta para centrarlo correctamente */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}



nav img {
    margin-top:-.3em;
    width: 150px;
    min-width: 100px;
}

.nav-links {
    display: flex;
    gap: 40px;
    z-index: 2;
   
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.search-container {
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    background-color: #f1f1f1;
    padding: 5px; /* Ajusta el padding para un mejor espaciado */
    border-radius: 7px;
    width: 200px; /* Define un ancho fijo para la barra de búsqueda */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-container input {
    border: none;
    outline: none;
    background-color: transparent;
    color: rgb(23, 23, 23);
    border-radius: 7px;
    font-size: 1em;
    width: 100%; 
    transition: width 0.4s ease;
}

.search-container input:focus {
    width: 100%; 
}

.search-icon {
    margin:.1em 0 0 8em; 
    height: 20px;
}


.burger {
    display: none;
    cursor: pointer;
}



.profile-icon img {
    padding: 12px;
    width: 20px; 
    margin-top:.2em;
}

/* helvetica */
@font-face {
    font-family: 'Helvetica';
    src: url('../fuentes/HelveticaNeueHv.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fuentes/HelveticaNeueIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fuentes/HelveticaNeueUltraLightv130.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fuentes/Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fuentes/HelveticaNeueMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fuentes/HelveticaNeueThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fuentes/HelveticaNeueBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fuentes/HelveticaNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fuentes/HelveticaNeueHeavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fuentes/HelveticaNeueLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}